:root {
  --font: "Montserrat", system-ui, sans-serif;
  --max-width: 1400px;
  --i-padding: 0.6rem;
  --o-padding: 1.6rem;
  --radius: 10px;
  --max-radius: 40px;
  --c-lighter: #eae7dc;
  --c-light: #eae7dc;
  --c-medium: #eae7dc;
  --c-dark: #d8c3a5;
  --c-darker: #d8c3a5;
  --c-elements: #eae7dc;
  --c-bg-elements: #8e8d8a;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
html::-webkit-scrollbar {
  width: 6px;
  background: #555555;
}
html::-webkit-scrollbar-thumb {
  background: #151515;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.active {
  background: var(--c-bg-elements);
}

main {
  max-height: 100vh;
  width: 97%;
  display: -ms-grid;
  display: grid;
  bottom: 100%;
  right: 97%;
}

main .menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--c-darker);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 62px;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: var(--i-padding);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 2;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  border-right: solid 1px var(--c-lighter);
}
main .menu:hover,
main .menu:active {
  width: 200px;
  border-radius: 0 var(--radius) var(--radius) 0;
}
main .menu .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
main .menu .avatar .thumb {
  border-radius: 50%;
  width: 100%;
  max-width: 40px;
}
main .menu .avatar .name {
  color: var(--c-elements);
  font-weight: 500;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
main .menu:hover .avatar .name,
main .menu:active .avatar .name {
  opacity: 1;
  visibility: visible;
}
main .menu .primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
}
main .menu .primary .menu-item {
  font-weight: 400;
  text-decoration: none;
  color: var(--c-elements);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
main .menu:hover .primary .menu-item,
main .menu:active .primary .menu-item {
  width: 100%;
  border-radius: var(--max-radius);
}
main .menu .primary .menu-item:hover {
  background: var(--c-bg-elements);
}
main .menu .primary .menu-item span:first-child {
  font-size: 21px;
}
main .menu .primary .menu-item .desc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
main .menu:hover .primary .menu-item .desc,
main .menu:active .primary .menu-item .desc {
  opacity: 1;
  visibility: visible;
}
main .menu .expander {
  color: var(--c-elements);
  font-size: 24px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
main .menu:hover .expander,
main .menu:active .expander {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

main .topbar {
  left: 0;

  top: 0;

  height: 60px;
  z-index: 1;
  background: var(--c-dark);
  border-bottom: solid 1px var(--c-lighter);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  padding: 0 var(--o-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
main .topbar .current {
  color: var(--c-elements);
  font-size: 24px;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
main .topbar .search {
  cursor: pointer;
  color: var(--c-elements);
  border-radius: 50%;
  max-width: 40px;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
main .topbar .search:hover,
main.search .topbar .search {
  background: var(--c-bg-elements);
}
main.search .topbar .search {
  border-radius: var(--max-radius);
  max-width: 200px;
  cursor: default;
}
main .topbar .search label {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
  font-size: 24px;
  cursor: inherit;
}
main .topbar .search .bar {
  color: var(--c-elements);
  background: unset;
  width: 100%;
  padding: 1px 10px 0 34px;
  font-size: 16px;
  border: unset;
  outline: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
main.search .topbar .search .bar {
  opacity: 1;
  visibility: visible;
  touch-action: none;
}
main .topbar .search .bar::-webkit-input-placeholder {
  font-family: var(--font);
  color: var(--c-elements);
}
main .topbar .search .bar::-moz-placeholder {
  font-family: var(--font);
  color: var(--c-elements);
}
main .topbar .search .bar:-ms-input-placeholder {
  font-family: var(--font);
  color: var(--c-elements);
}
main .topbar .search .bar::-ms-input-placeholder {
  font-family: var(--font);
  color: var(--c-elements);
}
main .topbar .search .bar::placeholder {
  font-family: var(--font);
  color: var(--c-elements);
}
main .topbar nav {
  overflow: overlay;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
}
main .topbar nav::-webkit-scrollbar {
  height: 2px;
}
main .topbar nav::-webkit-scrollbar-thumb {
  background: var(--c-bg-elements);
}
main .topbar nav .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
  padding: 0 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: var(--c-elements);
  border-radius: var(--max-radius);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
main .topbar nav .menu-item:hover {
  background: var(--c-bg-elements);
}

main .dashboard {
  border-top: solid 1px var(--c-lighter);
  background-color: var(--c-light);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  padding: var(--o-padding);
  display: -ms-grid;
  display: grid;
  grid-gap: var(--o-padding);
  position: relative;
  overflow: overlay;
}
main .dashboard::-webkit-scrollbar,
main .side::-webkit-scrollbar {
  width: 2px;
  background: var(--c-darker);
}
main .dashboard::-webkit-scrollbar-thumb,
main .side::-webkit-scrollbar-thumb {
  background: var(--c-bg-elements);
}
main .dashboard .cardcolumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: var(--o-padding);
  -ms-flex-item-align: baseline;
  align-self: baseline;
}
main .dashboard .cardcolumn .card .content {
  font-size: 14px;
}
main .dashboard .cardcolumn .card span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  min-width: 24px;
  max-width: 24px;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
main .dashboard .cardcolumn .card span:hover {
  color: var(--c-elements);
  background: var(--c-bg-elements);
}
main .dashboard .cardcolumn .card header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
main .dashboard .cardcolumn .card header a {
  color: inherit;
  text-decoration: none;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  -webkit-line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
main .dashboard .cardcolumn .card .meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
}

main .side {
  background-color: var(--c-medium);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  padding: var(--o-padding);
  display: -ms-grid;
  display: grid;
  gap: var(--o-padding);
  -ms-flex-line-pack: start;
  align-content: flex-start;
  overflow: overlay;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  right: 0;
}
main .dashboard .card,
main .side .card {
  position: relative;
  color: var(--c-elements);
  padding: var(--i-padding);
  background: var(--c-bg-elements);
  border-radius: var(--radius);
  -webkit-box-shadow: 0 4px 8px #0003;
  box-shadow: 0 4px 8px #0003;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  border-bottom: solid 2px #0003;
}
main .side .card ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
main .side .card ul li {
  padding: 6px 0;
  border-bottom: solid 1px var(--c-bg-elements);
}
main .side .card ul li:last-child {
  border-bottom: none;
}
main .side .weather .condition {
  opacity: 0.65;
  position: absolute;
  right: 10px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 200px;
  width: 100%;
  float: right;
}
main .side .weather .content {
  position: relative;
  font-size: 3rem;
  font-weight: 600;
  min-height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-shadow: 1px 3px 0px #0008;
}
main .side .weather .content .celsius {
  position: relative;
  top: -10px;
  right: -4px;
  font-size: 1.3rem;
}
main .side .weather .meta {
  border-top: solid 1px var(--c-bg-elements);
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 6px;
}
main .side .weather .meta .datetime,
main .side .weather .meta .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 6px;
}
main .side .weather .meta .datetime .time {
  font-weight: 600;
}

@media (min-width: 1024px) {
  :root {
    --i-padding: 1rem;
    --o-padding: 2rem;
  }
  .container {
    margin: var(--o-padding);
    -webkit-box-shadow: 0 0px 1rem #0003;
    box-shadow: 0 0px 1rem #0003;
    overflow: hidden;
  }
  main {
    height: 50%;

    grid-template-columns: 2fr 1fr;
    padding-left: 40px;
  }
  main .menu {
    width: 74px;
    position: absolute;
    top: 60px;
    height: 90%;
  }
  main .menu .avatar {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  main .menu .avatar .thumb {
    max-width: 70px;
  }
  main .topbar {
    position: absolute;
    width: calc(100% - 0.1px);
    margin-left: 0.1px;
  }
  main .topbar .search {
    margin-right: unset;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    max-width: 200px;
    border-radius: var(--max-radius);
    cursor: default;
    background: var(--c-bg-elements);
  }
  main .topbar .search .bar {
    opacity: 1;
    visibility: visible;
  }
  main .dashboard {
    height: calc(100vh - (2 * var(--o-padding)));
    -ms-grid-columns: 1fr var(--o-padding) 1fr var(--o-padding) 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  main .side {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    height: calc(100vh - (2 * var(--o-padding)) - 20px);
    border-top: unset;
    margin-top: 20px;
  }
}

#form {
  background-color: #eef7f1;
  width: 99%;
  position: absolute;
  height: 0%;
  left: 0%;
}

#Kategori {
  height: 38px;
  border: 1px solid #ced4d9;
  border-radius: 3px;
}

#ekleButton:hover {
  box-shadow: -1px 1px 17px 0px rgba(0, 0, 0, 0.75);
}

li {
  margin-right: 3.5em;
}

li:hover {
  box-shadow: -1px 1px 17px 0px rgba(0, 0, 0, 0.75);
}

input:hover {
  border-color: rgb(106, 161, 143);
}

#loginform {
  border: 10px solid gray;
  background-color: rgb(199, 194, 194);
  opacity: 0.8;
}

#adminbody {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(89, 44, 111, 1) 46%,
    rgba(98, 29, 93, 1) 98%
  );
}

#invalidlogin {
  display: none;
}
#loginbutton {
  position: absolute;
  left: 44.5%;
  top: 430px;
}
.form-label {
  padding-left: 10px;
}

.section {
  display: none;
}

.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
}

.desc1 {
  width: 90%;
  height: 30px;
}
.mb-3 {
  padding-top: 20px;
  padding-left: 30px;
}
.form-label {
  text-align: left;
  font-size: 18px;
}
.desc2 {
  padding-right: 20px;
  padding-left: 9px;
  font-size: 18px;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;

  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}
.custom-file-input {
  padding: 10px;
}
.btnn {
  background-color: #4caf50; /* Green */
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
}
.btndiv {
  padding-left: 30%;
}
