body {
    background: #eae7dc;
}
.dropbtn {
  padding: 15px 25px;
  margin: 10px;
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 20px;
  z-index: 1;
  background: rgb(46, 44, 44);
  color: white;
  position: relative;
  font-size: 13px;
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
 }
 
 .dropbtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 20px;
  background-color: #e98074;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 400ms
 }
 
 .dropbtn:hover {
  color: #e8e8e8;
 }

 .dropbtn:hover::before {
  width: 100%;
 }
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgba(160, 160, 158, 0.75);
    min-width: 230px;
    overflow: auto;
    border: 1px solid #000000;
    z-index: 1;
    border-radius: 10px;
    margin-left: 5px;;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {background-color: rgb(232,90,79,0.75);}
  
.show {display: block;}

.product {
    width: 310px;
    height: 490px;
    background: rgb(46, 44, 44);
    box-shadow: rgba(0, 0, 0, 0.4) 10px 20px 30px, rgba(0, 0, 0, 0.3) 10px 1px 53px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
    transition: all 300ms;
    margin: 30px;
    margin-top: 30px;
    text-align: left;
    border-radius: 1%;
    display: inline-block;
}

.product:hover {
    opacity: 1;
    transform: scale(1.1);
}

img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 0.5%;
  }
  
h3.pname,p.price {
    margin: 15px;
    margin-left: 10px;
    color: white;
}

button.addtocart {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
  
button.addtocart:hover {
    background-color: #e85a4f;
    color: #fff;
}
  
/*  */
button {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}
  
button:focus,
  input:focus {
    outline: 0;
}
  
  html {
    scroll-behavior: smooth;
  }
  
  /*-------------Layout-------------*/
  body {
    line-height: 1.5em;
    padding: 0;
    margin: 0;
  }
  
  section {
    height: 100vh;
  }
  
  #home {
    background-color: #f7f4e9;
  }
  
  #categories {
    background-color: #ddd;
  }
  
  #Offers {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #eae7dc;
  }
  
  #contact {
    background-color: #666;
  }
  
  /*-------------Helpers-------------*/
  .skew {
    transform: skew(-20deg);
  }
  
  .un-skew {
    transform: skew(20deg);
  }
  
  /*-------------Nav-------------*/
  #nav-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  #nav {
    background-color: #e85a4f;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-family: "Saira Semi Condensed", sans-serif;
    height: 4em;
    overflow: hidden;
  }
  #nav.nav-visible {
    height: 100%;
    overflow: auto;
  }
  
  .nav {
    display: flex;
    height: 4em;
    line-height: 4em;
    flex-grow: 1;
  }
  
  .nav-link,
  .logo {
    padding: 0 1em;
  }
  
  span.gradient {
    background: #e98074;
    background: -webkit-linear-gradient(45deg, #d8c3a5, #ff5858);
    background: linear-gradient(45deg, #d8c3a5, #ff5858);
    padding: 0 1em;
    position: relative;
    right: 1em;
    margin-right: auto;
  }
  span.gradient:hover {
    animation-name: logo-hover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
  }
  
  h1.logo {
    font-weight: 300;
    font-size: 1.75em;
    line-height: 0.75em;
    color: #fff;
  }
  
  h1.logo a,
  a:active,
  a:hover,
  a:visited {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-link {
    text-transform: uppercase;
    text-align: center;
    border-top: 0.5px solid #ddd;
  }
  
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .btn-nav {
    color: #f857a8;
    padding-left: 2em;
    padding-right: 2em;
  }
  
  @media (min-width: 800px) {
    #nav-wrapper {
      overflow: hidden;
    }
    #nav {
      overflow: hidden;
      flex-direction: row;
    }
    .nav-link {
      border-top: none;
    }
    .right {
      overflow: hidden;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      left: 1.5em;
      height: auto;
    }
    .btn-nav {
      display: none;
    }
    .nav a:link.active,
    a:visited.active,
    a:active.active {
      background: #e98074;
      background: -webkit-linear-gradient(45deg, #d8c3a5, #ff5858);
      background: linear-gradient(45deg, #d8c3a5, #ff5858);
      color: #fff;
    }
    .nav-link-span {
      transform: skew(20deg);
      display: inline-block;
    }
    .nav-link {
      transform: skew(-20deg);
      color: #777;
      text-decoration: none;
    }
    .nav-link:last-child {
      padding-right: 3em;
    }
    a:hover.nav-link:not(.active) {
      color: #444;
      background: #ddd;
      background: linear-gradient(45deg, #fff, #ddd);
    }
  }
  @keyframes logo-hover {
    20% {
      padding-right: 0em;
    }
    100% {
      padding-right: 5em;
    }
  }
  .slider {
    width: 100%;
    height: 200px;
    position: relative;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  .slider::-webkit-scrollbar {
    display: none;
  }
  
  .slider .slide {
    display: flex;
    position: absolute;
    left: 0;
    transition: 0.3s left ease-in-out;
  }
  
  .slider .item {
    margin-right: 10px;
  }
  
  .slider .item:last-child {
    margin-right: 0;
  }
  
  .ctrl {
    text-align: center;
    margin-top: 5px;
  }
  
  .ctrl-btn {
    padding: 20px 20px;
    min-width: 50px;
    background: #fff;
    border: none;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;
  
    position: absolute;
    top: 50%;
    margin-top: -27.5px;
  }
  
  .ctrl-btn.pro-prev {
    left: 0;
  }
  
  .ctrl-btn.pro-next {
    right: 0;
  }
  