body {
    background: #eae7dc;
}
.dropbtn {
  padding: 15px 25px;
  margin: 10px;
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 20px;
  z-index: 1;
  background: rgb(46, 44, 44);
  color: white;
  position: relative;
  font-size: 13px;
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
 }
 
 .dropbtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 20px;
  background-color: #e98074;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 400ms
 }
 
 .dropbtn:hover {
  color: #e8e8e8;
 }

 .dropbtn:hover::before {
  width: 100%;
 }
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgba(160, 160, 158, 0.75);
    min-width: 230px;
    overflow: auto;
    border: 1px solid #000000;
    z-index: 1;
    border-radius: 10px;
    margin-left: 5px;;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {background-color: rgb(232,90,79,0.75);}
  
.show {display: block;}

.product {
    width: 310px;
    height: 490px;
    background: rgb(46, 44, 44);
    box-shadow: rgba(0, 0, 0, 0.4) 10px 20px 30px, rgba(0, 0, 0, 0.3) 10px 1px 53px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
    transition: all 300ms;
    margin: 30px;
    margin-top: 30px;
    text-align: left;
    border-radius: 1%;
    display: inline-block;
}

.product:hover {
    opacity: 1;
    transform: scale(1.1);
}

img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 0.5%;
  }
  
h3.pname,p.price {
    margin: 15px;
    margin-left: 10px;
    color: white;
}

button.addtocart {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
  
button.addtocart:hover {
    background-color: #e85a4f;
    color: #fff;
}
  
/*  */
button {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}
  
button:focus,
  input:focus {
    outline: 0;
}
  
  html {
    scroll-behavior: smooth;
  }
  

  